.wrap{
  margin:0px auto;
  width:800px;
}
#dataYear{
  float: right;
  background:#ED473B;
  left:60%;
  top:0px;
  color:white;
  padding:0px 10px;
}

.Timelineheader{
  min-width:400px;
  top:0px;
  margin:0px auto;
  background:#fff;
  z-index:1;
  padding-left:15%;
  padding-right:15%;
  font-size:35px;
  color:#c9c9c9;
  box-shadow:0 0 5px 0px #ccc;
}
.timeline2{
  width:100%;
  margin:10px 0px 300px 0px; 
  padding-top:50px;
  position: relative;
  overflow:auto;
  border-bottom:2px solid #f1f1f1;

}
.timeline2:before {
  content: '';
  display: block;
  position: absolute;
  left: 29.5%;
  top: 120px;
  width: 3px;
  height: 92%;
  background: #666;
}
.year{
    transition: all 0.4s ease-in-out;

  width:100%; 
  margin-bottom:50px;
  position: relative;
  overflow:auto; 
}
.evt{
  min-height:100px;
  width:100%; 
  margin-bottom:20px;
  position:relative;
  

}

.evt:nth-child(even) .in{
  float:right;
}
.evt:nth-child(odd) .in{
float:right;
}
p{  
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background: #f1f1f1;
  color: #656565;
}
.hyear{
  padding: 15px;
  margin: 0;
  color: #333;
  font-size: 25px;
  letter-spacing: -1px;
  position: relative;
}

.in h2{
  border-radius: 5px 5px 0 0;
  background:#c1c1c1;
  margin-bottom:0px;
}
.timeLinedate{
  transition: all 0.2s ease-in-out;
  display: block;
  width: 9%;
  position: absolute;
  top: 10px;
  left: 25.2%;
  line-height:70px;
  border-radius: 100%;
  font-size: 16px;
  background: #fff;
  color:#333;
  font-weight:900;
  text-align:center;
  border: 2px solid #fff;
}
.in{
  width: 60%;
  float: left;
  margin: -1px 0 0 0;
}
.activeYear{
  background:#ED473B; 
  color:#fff;
  border-color:#fff;
}